/* Common Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

:root {
    --text-grey: #534C64;
    --primary-color: #FF42A5;
    --secondary-color: #0B0223;
}

/* header styles */
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
    padding: 35px 0px;

}

.logo {
    display: flex;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-name {
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.nav-name>span {
    color: var(--primary-color);
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    color: #3C354F;
    margin-right: 32px;

}

.nav-button {
    background-color: rgba(11, 2, 35, 0.1);
    border-radius: 8px;
    border: none;
    padding: 18px 25px;
}

.youtube {
    color: #F61C0D;
}

.tiktok {
    color: black;
}

/* main styles */
.goat-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.goat-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--secondary-color);

}

.goat {
    font-size: 6rem;
    font-weight: 800;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;

}

.goat-desc {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-grey);
    margin-bottom: 15px;
    
    
}

.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    background-color: var(--primary-color);
    margin-top: 25px;
    margin-right: 25px;
}
.btn-blue{
    background-color: #4EC5F7;
}

/* gamer section styles */
.gamer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(265, 66, 165, 0.03);
    padding: 55px 75px;
}
.gamer-detail{
    text-align: right;
}